<div class="panel panel-default">
	 <div class="panel-heading">Apps</div>
  <div class="panel-body" style="padding:30px;">
    
    <div class="row approw">
	<a class="btn btn-green col-xs-2" href="http://192.168.62.189:3001" role="button">
		Callspark
		</a>
		
	<div class="appinfo col-xs-6 breadcrumb"> 
		
		Log new calls and look up customer information
	</div>
	</div>
	
	    <div class="row approw">
	<a class="btn btn-blue col-xs-2" href="http://192.168.62.189:3003" role="button">
		Demospark
		</a>
		
	<div class="appinfo col-xs-6 breadcrumb"> 
		
		Check out demo inventory to customers
	</div>
	</div>
	
	 <div class="row approw">
	<a class="btn btn-orange col-xs-2" href="http://192.168.62.189:3002" role="button">
		Techtrack
		</a>
		
	<div class="appinfo col-xs-6 breadcrumb"> 
		Track TechConnect renewal status
		
	</div>
	</div>
		
		

  </div>	
</div>